---
layout: default
title: Publications
---
<p>
    <!--<a href="{.{ site.base }.}/bib/sampa-pubs.bib">Download BibTeX.</a>-->
</p>

<!--{.% include pubs.html %.}-->
<table class="table">
<tbody>
{% assign url = page.url %}
{% for item in site.data.pubs %}
	
	<tr>
		<td>
			<span class="date">
				{{ item.month }}<br />{{ item.year }}
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<strong>
				{% if item.url %}
					<!--{.% if '.pdf' in item.url %.}
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
					{.% endif %.}-->
				<a href="{{ item.url }}">{{ item.title }}</a>.
				{% else %}
				{{ item.title }}.
				{% endif %}
				</strong>
			</span><br />
			<span class="authors">
				{{ item.authors }}.
				{% for tg in item.tags %}
				{% if url contains tg %}
					VV
				{% endif %}
				{% endfor %}
			</span><br />
			<span class="venue">{{ item.venue }}</span>.
			<br />
		</td>
	</tr>
{% endfor %}
</tbody>
</table>
