<table class="table">
<tbody>
{% assign prev_year = 1900 %}
{% for item in site.data.pub %}
	{% assign paper = item[1] %}
	<tr>
		<td>
			<span class="date">
				{% if paper.year != prev_year %}
				<big><strong>{{ paper.year }}</strong></big><br />
				{% endif %}
				{% assign prev_year = paper.year %}
				{{ paper.month }}
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				{% if paper.url %}
					{% if '.pdf' in paper.url %}
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
					{% endif %}
				<a href="{{ url|escape }}">{{ paper.title }}</a>.
				{% else %}
				{{ paper.title }}.
				{% endif %}
			</span><br />
			<span class="authors">
				{{ paper.authors }}.
			</span><br />
			<span class="venue">{{ paper.venue }}</span>.
			<br />
			
		</td>
	</tr>
{% endfor %}
</tbody>
</table>
