<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ site.name }}: {{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Red Hat Display"> -->
        <link href="{{ site.base }}/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ site.base }}/css/ictd.css" rel="stylesheet">
        <script src="{{ site.base }}/js/bootstrap.min.js"></script>
        <link rel="alternate" type="application/atom+xml" title="Atom"
            href="{{ site.base }}/blog/blog.xml">

    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
          <div class="container">
            <a class="navbar-brand" href="{{ site.base }}/">
              <img src="{{ site.base }}/img/ictd-logo.svg"
                  alt="ICTD" id="logo">
          </a>

          <ul class="navbar-nav ms-auto">
            {% assign shorturl = page.url | replace:'index.html','' %}
              {% for item in site.navigation %}
                <li class="nav-item">
                  <a class="nav-link {% if item.link == shorturl %}active{% endif %}" href="{{ site.base }}{{ item.link }}">
                    {{ item.title }}
                  </a>
                </li>
              {% endfor %}
          </ul>

            <!-- <ul class="nav nav-pills pull-right">
              
            </ul> -->

          </div>
        </nav>

        <div class="container">
          

          {% comment %}Liquid is sort of terrible! I think "!= true" is the
          only way to do negation?{% endcomment %}
          {% if page.notitle != true %}
          <h2>{{ page.title }}</h2>
          {% endif %}

          {{ content }}

          <div class="footer">
            <!--<p>
                <a href="http://ictd.cs.washington.edu/private">private site</a>
            </p>-->
            <p>
              <a href="http://www.cs.washington.edu/">Computer Science &amp;
                Engineering</a>
              at the
              <a href="http://www.washington.edu/">University of
                Washington</a>
            </p>
          </div>

        </div> <!-- /container -->

    </body>
</html>
